@page "/"

<PageTitle>DinoPoll</PageTitle>

<div class="container">
    <h1>DinoPoll 🦖</h1>
    <a href="/poll/new" class="btn btn-primary btn-lg">New Poll</a>
    <div class="row mt-5">
        <a href="https://www.qwantz.com/index.php?comic=3941" target="_blank">
            <img src="/img/comic2-4142.png" class="img-fluid">
        </a>
    </div>
</div>