@page "/poll/{PollId:guid}"

@using System.Globalization

@inject IPollService PollService
@inject NavigationManager NavigationManager

<div class="container">
    @if (loading)
    {
        <p>Loading...</p>
    }
    else if (pollNotFound)
    {
        <p>Poll Not Found!</p>
    }
    else
    {
        <h1>@poll!.Question</h1>

        @if (showPollResults)
        {
            <div class="row">
                <div class="col-md-6 pt-5">
                    <PollResults Poll="poll" />
                </div>
                <div class="col-6 col-md-6">
                    <PollChart Poll="poll" />
                </div>
            </div>
        }
        else
        {
            <PollVoteForm Poll="poll" />
        }
    }
</div>

@code {
    [Parameter]
    public Guid PollId { get; set; }

    private Poll? poll = null;
    private bool showPollResults;

    private bool loading = true;
    private bool pollNotFound = false;

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        var dbPoll = await PollService.GetPoll(PollId);

        if (dbPoll is not null)
        {
            poll = dbPoll;
            showPollResults = poll.Participants == dbPoll.Options.Sum(option => option.Votes);

            loading = false;
        }
        else
        {
            pollNotFound = true;
        }

        await base.OnInitializedAsync();
    }
}